<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/add-admin.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <title>Secure Chatting - Add Admin</title>
</head>

<body>
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <img src="/images/logo.png" alt="logo" />
        <div class="burger">
          <div class="slice"></div>
          <div class="slice"></div>
          <div class="slice"></div>
        </div>
      </div>

      <div class="menu">
        <a href="/admin-index">
          <p class="menu-text">Home</p>
          <i class="fas fa-home"></i>
        </a>
        <a href="/admin-chat-logs">
          <p class="menu-text">Chat logs</p>
          <i class="fas fa-comments"></i>
        </a>
        <a href="/admin-edit-index">
          <p class="menu-text">Edit account</p>
          <i class="fas fa-user-edit"></i>
        </a>
        <a href="/add-admin">
          <p class="menu-text">Add admin</p>
          <i class="fas fa-user-plus"></i>
        </a>
        <a href="/view-users">
          <p class="menu-text">View users</p>
          <i class="fas fa-users"></i>
        </a>
        <a href="/contact-forms">
          <p class="menu-text">Contact forms</p>
          <i class="fas fa-inbox"></i>
        </a>
        <a href="/bug-reports">
          <p class="menu-text">Bug Reports</p>
          <i class="fas fa-bug"></i>
        </a>
        <a href="/sign-out">
          <p class="menu-text">Sign out</p>
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>

      <footer class="footer">
        <p id="footer-text">
          &copy; 2021, All Rights Reserved <br />
          Developed by
          <a href="https://github.com/Osama-NA" target="_blank" style="text-decoration: none;color:#7874f2">Osama Hajj Ali</a>
        </p>
      </footer>
    </nav>

    <main class="content">
      <img src="/images/waves.png" alt="waves" id="waves" />
      <form action="/db/add-admin" method="post" class="add-admin-form">
        <h2>Add Admin</h2>
        <label for="email">Email:</label>
        <input type="email" placeholder="johnsmith@gmail.com" name="email" required />
        <label for="username">Username:</label>
        <input type="text" placeholder="John Smith" name="username" maxlength="25" required />
        <label for="password">Password:</label>
        <input type="password" placeholder="At least 8 characters" name="password" minlength="8" maxlength="25"
          required />
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" placeholder="********" name="confirm-password" minlength="8" maxlength="25" required />
        <input type="submit" name="submit" id="submit" value="Submit" />
      </form>
      <p id="add-admin-message" style="display:none">{{#if addAdminMessage}}
        {{addAdminMessage}}
        {{/if}}</p>
      <script>
        let addAdminMessage = document.getElementById("add-admin-message").innerHTML;
        if (addAdminMessage !== "") {
          window.alert(addAdminMessage);
        }
      </script>
    </main>
  </div>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/responsive-side-nav.js"></script>
</body>

</html>