<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/report.css" />
    <link rel="stylesheet" href="/css/chat-logs.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <title>Secure Chatting | Chat Logs</title>
  </head>

  <body>
    <div class="container">
      <nav class="nav">
        <div class="logo">
          <img src="/images/logo.png" alt="logo" />
          <div class="burger">
            <div class="slice"></div>
            <div class="slice"></div>
            <div class="slice"></div>
          </div>
        </div>
        

        <div class="menu">
          <a href="/signed-index">
            <p class="menu-text">Home</p>
            <i class="fas fa-home"></i>
          </a>
          <a href="/chat-logs">
            <p class="menu-text">Chat logs</p>
            <i class="fas fa-comments"></i>
          </a>
          <a href="/edit-index">
            <p class="menu-text">Edit account</p>
            <i class="fas fa-user-edit"></i>
          </a>
          <a href="/contact-index">
            <p class="menu-text">Contact us</p>
            <i class="fas fa-inbox"></i>
          </a>
          <a href="/sign-out">
            <p class="menu-text">Sign out</p>
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>

        <footer class="footer">
          <div id="report-bug">
            <a>
              <span>Report a bug</span>
              <i class="fas fa-bug"></i>
            </a>
          </div>
          <p id="footer-text">
            &copy; 2021, All Rights Reserved <br />
            Developed by
            <a href="https://github.com/Osama-NA" target="_blank" style="text-decoration: none;color:#7874f2">Osama Hajj Ali</a>
          </p>
        </footer>
      </nav>

      <main class="content">
        <h2>Chat Logs</h2>
        <table border="1" id="table">
          <tr>
            <th><div>chatID</div></th>
            <th><div>Date</div></th>
            <th><div>Download</div></th>
            <th><div>Delete</div></th>
          </tr>
          
          <!-- /controllers/chat-logs renders this page and sends saved chat logs as a message then chatLogs string is formatted then printed-->

          <b id="chat-logs" style="display:none">{{#if chatLogs}}
            {{chatLogs}}
            {{/if}}</b>
          <script>
            let table = document.getElementById("table");

            let chatLogs = document.getElementById("chat-logs").innerHTML;
            chatLogs = chatLogs.replaceAll("&lt;", "<").replaceAll("&gt;", ">");
            let chatLogsArray = chatLogs.substring(4, chatLogs.length - 5).split("|");
            let size = chatLogsArray.length;
            for (let i = 0; i < size; i++) {
              let tr = document.createElement('tr');
              tr.innerHTML = chatLogsArray[i];
              table.appendChild(tr);
            }
          </script>

        </table>
      </main>
    </div>

    <p id="chat-log-message" style="display:none">{{#if chatLogMessage}}
      {{chatLogMessage}}
    {{/if}}</p>
    <script>
      let chatLogMessage = document.getElementById("chat-log-message").innerHTML;
      if(chatLogMessage !== ""){
        window.alert(chatLogMessage);
      }
    </script>

    <section class="report-form">
      <form action="/db/bug-report" method="post" class="report-form-content">
        <h3>Report A Bug</h3>
        <label for="bug-name">Bug</label>
        <input type="text" name="bug-name" maxlength="50" placeholder="Bug  name" required />
        <label for="bug-description">Description</label>
        <textarea
          name="bug-description"
          maxlength="250"
          placeholder="Describe the bug in details ..."
          required
        ></textarea>
        <textarea name="from" style="display:none">chat-logs</textarea>
        <div class="button">
          <input type="button" value="Close" name="close" id="close" />
          <input type="submit" value="Report" name="report" id="report" />
        </div>
      </form>
    </section>

    <p id="bug-report-message" style="display:none">{{#if bugReportMessage}}
      {{bugReportMessage}}
    {{/if}}</p>
    <script>
      let bugReportMessage = document.getElementById("bug-report-message").innerHTML;
      if(bugReportMessage !== ""){
        window.alert(bugReportMessage);
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/responsive-side-nav.js"></script>
    <script src="/js/report.js"></script>
  </body>
</html>