<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/report.css" />
  <link rel="stylesheet" href="/css/chat-room.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <title>Seguro - Chatting Room</title>
</head>

<body>
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <img src="/images/logo.png" alt="logo" />
        <div class="burger">
          <div class="slice"></div>
          <div class="slice"></div>
          <div class="slice"></div>
        </div>
      </div>

      <div class="menu">
        <a id="clear-chat">
          <p class="menu-text">Clear Chat</p>
          <i class="fas fa-eraser"></i>
        </a>
        <a href="/">
          <p class="menu-text">Leave Room</p>
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>

      <footer class="footer">
        <div id="report-bug">
          <a>
            Report a bug
            <i class="fas fa-bug"></i>
          </a>
        </div>
        <p id="footer-text">
          &copy; 2021, All Rights Reserved <br />
          Developed by
          <a href="https://github.com/Osama-NA" target="_blank" style="text-decoration: none;color:#7874f2">Osama Hajj Ali</a>
        </p>
      </footer>
    </nav>

    <main class="content">
      <div id="messages">
      </div>
      <form id="chat-form">
        <textarea id="message-box" name="message" placeholder="Type a message . . ."></textarea>
        <input type="submit" name="send" value="Send" id="send" />
      </form>
    </main>

  </div>

  <section class="report-form">
    <form action="/db/bug-report" method="post" class="report-form-content">
      <h3>Report A Bug</h3>
      <label for="bug-name">Bug</label>
      <input type="text" name="bug-name" maxlength="50" placeholder="Bug  name" required />
      <label for="bug-description">Description</label>
      <textarea name="bug-description" placeholder="Describe the bug in details ..." maxlength="250"
        required></textarea>
      <textarea name="from" style="display:none">chat-room</textarea>
      <div class="button">
        <input type="button" value="Close" name="close" id="close" />
        <input type="submit" value="Report" name="report" id="report" />
      </div>
    </form>
  </section>

  <p id="bug-report-message" style="display:none">{{#if bugReportMessage}}
    {{bugReportMessage}}
    {{/if}}</p>
  <script>
    let bugReportMessage = document.getElementById("bug-report-message").innerHTML;
    if (bugReportMessage !== "") {
      window.alert(bugReportMessage);
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
    integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
    crossorigin="anonymous"></script>
  <script src="http://seguroo.herokuapp.com/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/responsive-side-nav.js"></script>
  <script src="/js/socket-messages.js"></script>
  <script src="/js/report.js"></script>
</body>

</html>