<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/edit-index.css" />
  <link rel="stylesheet" href="/css/report.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
  <title>Seguro | Edit Account</title>
</head>

<body>
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <img src="/images/logo.png" alt="logo" />
        <div class="burger">
          <div class="slice"></div>
          <div class="slice"></div>
          <div class="slice"></div>
        </div>
      </div>

      <div class="menu">
        <a href="/signed-index">
          <p class="menu-text">Home</p>
          <i class="fas fa-home"></i>
        </a>
        <a href="/chat-logs">
          <p class="menu-text">Chat logs</p>
          <i class="fas fa-comments"></i>
        </a>
        <a href="/edit-index">
          <p class="menu-text">Edit account</p>
          <i class="fas fa-user-edit"></i>
        </a>
        <a href="/contact-index">
          <p class="menu-text">Contact us</p>
          <i class="fas fa-inbox"></i>
        </a>
        <a href="/sign-out">
          <p class="menu-text">Sign out</p>
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>

      <footer class="footer">
        <div id="report-bug">
          <a>
            <span>Report a bug</span>
            <i class="fas fa-bug"></i>
          </a>
        </div>
        <p id="footer-text">
          &copy; 2021, All Rights Reserved <br />
          Developed by
          <a href="https://www.linkedin.com/in/osama-hajj-ali/" target="_blank"
            style="text-decoration: none;color:#7874f2">Osama Hajj Ali</a>
        </p>
      </footer>
    </nav>

    <main class="content">
      <div class="form">
        <h2>Edit Account</h2>

        {{!-- EMAIL --}}
        <label for="update-email" class="label-1">Update email</label>
        <form action="/db/update-email" method="post" class="update">
          <input type="email" name="update-email" maxlength="100" placeholder="Enter your new email" required />
          <input type="password" name="password" maxlength="25" placeholder="Enter your password" required />
          <div class="button-container">
            <button class="submit" type="submit" name="submit-username">Update</button>
          </div>
        </form>
        <p id="update-email-message" style="display:none">{{#if updateEmailMessage}}
          {{updateEmailMessage}}
          {{/if}}</p>
        <script>
          let updateEmailMessage = document.getElementById("update-email-message").innerHTML;
          if (updateEmailMessage !== "") {
            window.alert(updateEmailMessage);
          }
        </script>

        {{!-- USERNAME --}}
        <label for="update-username">Update username</label>
        <form action="/db/update-username" method="post" class="update">
          <input type="text" name="update-username" maxlength="25" placeholder="Enter your new username" required />
          <input type="password" name="password" maxlength="25" placeholder="Enter your password" required />
          <div class="button-container">
            <button class="submit" type="submit" name="submit-username">Update</button>
          </div>
        </form>
        <p id="update-username-message" style="display:none">{{#if updateUsernameMessage}}
          {{updateUsernameMessage}}
          {{/if}}</p>
        <script>
          let updateUsernameMessage = document.getElementById("update-username-message").innerHTML;
          if (updateUsernameMessage !== "") {
            window.alert(updateUsernameMessage);
          }
        </script>

        {{!-- PASSWORD --}}
        <label for="new-password">Update password</label>
        <form action="/db/update-password" method="post" class="update">
          <input type="password" name="password" maxlength="25" placeholder="Enter your current password" required />
          <input type="password" name="new-password" maxlength="25" placeholder="Enter your new password" required />
          <input type="password" name="confirm-password" maxlength="25" placeholder="Confirm new password" required />
          <div class="button-container">
            <button class="submit submit-password" type="submit" name="submit-password">Update</button>
          </div>
        </form>
        <p id="update-password-message" style="display:none">{{#if updatePasswordMessage}}
          {{updatePasswordMessage}}
          {{/if}}</p>
        <script>
          let updatePasswordMessage = document.getElementById("update-password-message").innerHTML;
          if (updatePasswordMessage !== "") {
            window.alert(updatePasswordMessage);
          }
        </script>
      </div>
    </main>
  </div>

  <section class="report-form">
    <form action="/db/bug-report" method="post" class="report-form-content">
      <h3>Report A Bug</h3>
      <label for="bug-name">Bug</label>
      <input type="text" name="bug-name" maxlength="50" placeholder="Bug  name" required />
      <label for="bug-description">Description</label>
      <textarea name="bug-description" placeholder="Describe the bug in details ..." maxlength="250"
        required></textarea>
      <textarea name="from" style="display:none">edit-index</textarea>
      <div class="button">
        <input type="button" value="Close" name="close" id="close" />
        <input type="submit" value="Report" name="report" id="report" />
      </div>
    </form>
  </section>

  <p id="bug-report-message" style="display:none">{{#if bugReportMessage}}
    {{bugReportMessage}}
    {{/if}}</p>
  <script>
    let bugReportMessage = document.getElementById("bug-report-message").innerHTML;
    if (bugReportMessage !== "") {
      window.alert(bugReportMessage);
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/responsive-side-nav.js"></script>
  <script src="/js/report.js"></script>
</body>

</html>