<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join chatting room and start a private chat with the invitee" />
    <link rel="stylesheet" href="/css/get-name.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Seguro - Enter Your Name</title>
</head>
<body>
   
    <div class="container">
      <main>
        <form action="/save-name" method= "post">
            <label>Please enter your name:</label>
            <div class="inputs">
              <input type="text" id="name" name= "name" placeholder="Your name here .." value="Guest" maxlength="25">
              <button type="submit" id="submit" name= "submit">Enter</button>
            </div>
            <a href="/">Back to home page</a>
        </form>
      </main>
    </div>

</body>
</html>