<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/sign-up.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/report.css" />
  <title>Seguro - Sign Up</title>
</head>

<body>
  <div class="container">
    <header>
      <div class="header">
        <div class="logo">
          <img src="/images/logo.png" alt="logo" />
        </div>
        <nav>
          <div class="nav">
            <a href="/">Home</a>
            <a href="/sign-in">Sign in</a>
          </div>
          <div class="burger">
            <div class="slice"></div>
            <div class="slice"></div>
            <div class="slice"></div>
          </div>
        </nav>
      </div>
    </header>

    <section>
      <div id="sign-up-form">
        <form action="/db/sign-up" method="post">
          <h3>Sign Up</h3>
          <label for="email">Email:</label>
          <input type="email" placeholder="johnsmith@gmail.com" name="email" id="email" required />
          <label for="sign-up-username">Username:</label>
          <input type="text" placeholder="John Smith" name="sign-up-username" id="username" maxlength="25" required />
          <label for="sign-up-password">Password:</label>
          <input type="password" placeholder="At least 8 characters" id="password" name="sign-up-password" minlength="8"
            maxlength="25" required />
          <label for="confirm-password">Confirm Password:</label>
          <input type="password" placeholder="********" id="confirm-password" name="confirm-password" minlength="8"
            maxlength="25" required />
          <input type="submit" name="sign-up-submit" id="sign-up" value="Sign up" />

        </form>
      </div>
    </section>

    <p id="sign-up-message" style="display:none">{{#if signUpMessage}}
      {{signUpMessage}}
      {{/if}}</p>
    <script>
      let signUpMessage = document.getElementById("sign-up-message").innerHTML;
      if (signUpMessage !== "") {
        window.alert(signUpMessage);
      }
    </script>

    <img src="/images/minion.png" alt="minion" id="minion" />
    <img src="/images/minions.png" alt="minions" id="minions" />
    <footer>
      <section>
        <div id="report-bug">
          <a>
            Report a bug
            <i class="fas fa-bug"></i>
          </a>
        </div>
        <p id="footer-text">
          &copy; 2021, All Rights Reserved <br />
          Developed by
          <a href="https://github.com/Osama-NA" target="_blank" style="text-decoration: none;color:#7874f2">Osama Hajj Ali</a>
        </p>
      </section>
    </footer>
  </div>

  <section class="report-form">
    <form action="/db/bug-report" method="post" class="report-form-content">
      <h3>Report A Bug</h3>
      <label for="bug-name">Bug</label>
      <input type="text" name="bug-name" maxlength="50" placeholder="Bug  name" required>
      <label for="bug-description">Description</label>
      <textarea name="bug-description" maxlength="250" placeholder="Describe the bug in details ..."
        required></textarea>
      <textarea name="from" style="display:none">sign-up</textarea>
      <div class="button">
        <input type="button" value="Close" name="close" id="close">
        <input type="submit" value="Report" name="report" id="report">
      </div>
    </form>
  </section>

  <p id="bug-report-message" style="display:none">{{#if bugReportMessage}}
    {{bugReportMessage}}
    {{/if}}</p>
  <script>
    let bugReportMessage = document.getElementById("bug-report-message").innerHTML;
    if (bugReportMessage !== "") {
      window.alert(bugReportMessage);
    }
  </script>

  <script src="/js/responsive-nav.js"></script>
  <script src="/js/report.js"></script>
</body>

</html>