body{
    background-color: #dfe2fe;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid #383838;
    border-radius: 10px;
    padding: 1rem 2rem;
}

label{
    color: #7874f2;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}
input,button{
    border: 1px solid #383838;
    font-size: 18px;
    padding: .8rem;
    margin: 1rem 0;
    outline: none;
}
.inputs{
    display: flex;
    flex-direction: row;
}
#name{
    width: 70%;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

#submit{
    width: 110px;
    color: #fff;
    background-color: #383838;
    border-radius: 0 5px 5px 0;
    border-left: none;
    cursor: pointer;
}
a{
    color: #7874f2;
    padding: .5rem 0 0;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 767px){
    form{
        padding: .6rem 1rem;
        border-radius: 7px;
    }
    label{
        font-size: 20px;
        margin: 0 0 .8rem;
    }
    a{
        font-size: 12px;
        padding: 0;
    }
    input, button{
        font-size: 12px;
        padding: .5rem;
    }
    #submit{
        width: 75px;
    }
}