* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dfe2fe65;
  min-width: 300px;
  letter-spacing: 0.7px;
}

.container {
  position: relative;
  width: 65%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* SIDE BAR NAVIGATION */

.nav {
  position: relative;
  max-width: 270px;
  min-width: 270px;
  background-color: rgba(27, 27, 27, 0.938);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 100%;
  padding-left: 1rem;
}

.logo img {
  width: 150px;
  height: auto;
  margin: 2.8rem 0;
}

.burger {
  display: none;
  position: absolute;
  top: 4.3rem;
  right: 2rem;
  cursor: pointer;
  color: transparent;
}

.burger .slice {
  height: 4px;
  width: 23px;
  margin-bottom: 5px;
  border-radius: 50px;
  background-color: #8b88f5;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.9rem;
  width: 100%;
}

.menu a {
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.menu p {
  display: inline;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.911);
}

.menu a:hover i {
  color: #7874f2;
}


.menu i {
  float: right;
  position: relative;
  top: 3px;
  font-size: 17px;
  padding-bottom: 1rem;
  color: #f3f3f3;
  transition: all 0.3s ease;
}
.nav .footer {
  position: absolute;
  bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer #report-bug a {
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.911);
}

.footer #report-bug i {
  padding-left: 5px;
  color: #7874f2;
  font-size: 16px;
  font-weight: bolder;
}

.footer #footer-text {
  text-align: center;
  padding-top: 1.5rem;
  color: rgb(255, 255, 255);
  font-size: 11px;
}

/* CONTENT */

.content{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.admin-content{
  justify-content: center;
}
.admin-content p:nth-child(3){
  margin-bottom: 4rem;
}
.content #waves {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 200%;
  height: 120%;
  z-index: 0;
  opacity: 0.75;
}

.create-room {
  position: relative;
  z-index: 1;
}

.content p {
  z-index: 1;
  text-align: center;
  width: 70%;
  font-size: 20px;
  color: rgb(56, 56, 56);
}

.content .create-room-btn {
  width: 50%;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
  background-color: #7874f2;
  box-shadow: 0px 3px 10px 0px #5853f06b;
  transition: all 0.4s ease;
}

.create-room-btn:hover {
  box-shadow: 0px 3px 10px 3px #5853f06b;
}

/* MEDIA */

@media (min-width: 1600px){
  .container {
    width: 1100px;
  }
  .header {
    width: 1100px;
  }
}

/* Tablet Screen */
@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
  .content #waves {
    height: 100%;
  }
}

/* Small Screens Media*/
@media (max-width: 767px) {
  .nav{
    min-width: 55px;
    max-width: 55px;
  }
  .menu p, .nav .footer a span, .nav .footer p, .logo img{
    display: none;
  }
  .logo {
    padding-left: 0.3rem;
  }
  .logo img {
    width: 135px;
    margin: 2.1rem 0;
  }
  .burger {
    display: block;
    top: 3.3rem;
    right: 1rem;
  }
  .burger .slice {
    height: 4px;
    width: 21px;
  }
  .menu{
    padding: 8.3rem 1.1rem;
  }
  .menu p {
    font-size: 16px;
  }
  .menu i {
    float: right;
    font-size: 15px;
    padding-bottom: 0.5rem;
  }
  .footer #report-bug a {
    font-size: 12px;
  }
  .footer #footer-text{
    font-size: 10px;
  }
  .content #waves{
    width: 300%;
  }
  .content p{
    font-size: 18px;
    width: 90%;
  }
  .content .create-room-btn{
    font-size: 16px;
    border-radius: 10px;
  }
}
