* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
  }
  
  body {
    background-color: #dfe2fe65;
    min-width: 300px;
    letter-spacing: 0.7px;
  }
  .container {
    position: relative;
    width: 65%;
    background-color: rgba(255, 255, 255, 0.952);
    margin: 0 auto;
    padding-top: 12rem;
  }
  
  /* HEADER */
  
  .header {
    z-index: 2;
    display: flex;
    width: 65%;
    height: 80px;
    background-color: rgba(27, 27, 27, 0.938);
    justify-content: space-between;
    position: fixed;
    top: 0;
  }

.header .logo img {
  margin-left: 2rem;
  width: auto;
  height: 100%;
  transform: scale(.8);
}

.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.8rem 3.6rem;
}

.header .nav a {
  font-size: 18px;
  text-decoration: none;
  padding-left: 1.5rem;
    color: rgb(206, 206, 206);
  transition: all 0.5s ease;
}

.header .nav a:hover {
  color: #ffffff;
}

.burger {
  display: none;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  cursor: pointer;
  color: transparent;
}
  
  .burger {
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
    cursor: pointer;
    color: transparent;
  }
  
  .burger .slice {
    margin-bottom: 5px;
    height: 4px;
    width: 25px;
    border-radius: 50px;
    background-color: #7874f2;
    transition: all 0.5s ease;
  }
  
  .burger:hover > .slice {
    background-color: #9996f0;
  }
  
  /* SIGN IN */
  
  section #sign-up-form {
    width: 100%;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
  }
  
  section #sign-up-form form {
    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    border-radius: 30px;
  box-shadow: -3px 8px 20px -2px #0000aa14;
    background-color: #dfe2fe54;
  }
  
  section #sign-up-form form h3 {
    padding-bottom: 0.3rem;
    font-size: 26px !important;
    color: #7874f2;
    text-align: center;
  }
  
  section #sign-up-form form label {
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0.7rem;
  }
  
  section #sign-up-form form input {
    width: 100%;
    font-size: 16px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    outline: none;
    border-radius: 7px;
    border: 1.5px solid #7874f286;
  }
  
  section #sign-up-form form #sign-up {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 16px;
    width: 100%;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    align-self: center;
    background-color: #7874f2;
    transition: all 0.5s ease;
  }
  
  section #sign-up-form form #sign-up:hover {
    background-color: #5c57f1f3;
  }
  
  #minion{
    opacity: 0.9;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 200px;
    right: 70px;
    animation-name: minion;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  #minions{
    opacity: 0.9;
    position: absolute;
    width: 100px;
    height: 150px;
    bottom: 230px;
    left: 70px;
    animation-name: minions;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  
  /* FOOTER */
  
  footer {
    position: relative;
  }
  footer section {
    background-color: rgba(27, 27, 27, 0.938);
    height: 150px;
  }
  footer section #footer-text {
    font-size: 12px;
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
  }
  footer section #report-bug {
    padding-top: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
  }
  footer a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  footer i {
    padding-left: 5px;
    color: #7874f2;
    font-size: 16px;
  }
  #footer-img {
    position: absolute;
    width: 90px;
    height: 230px;
    bottom: 150px;
    right: 70px;
  }

  /* Animations */
  
  @keyframes minion{
    0%{
      bottom: 200px;
    }
    50%{
      bottom: 230px;
    }
    100%{
      bottom: 200px;
    }
  }
  @keyframes minions{
    0%{
      bottom: 230px;
    }
    50%{
      bottom: 200px;
    }
    100%{
      bottom: 230px;
    }
  }
  /* MEDIA */
  
@media (min-width: 1600px){
  .container {
    width: 1100px;
  }
  .header {
    width: 1100px;
  }
}

  /* Tablet Screen */
  @media (max-width: 1100px) {
    .container {
      width: 100%;
    }
    .header {
      width: 100%;
    }
  }
  
  /* Small Screens Media*/
  @media (max-width: 767px) {
    #minion, #minions {
      display: none;
    }
    .header .logo img{
    margin-left: 0rem;
    }
    .header .nav {
      margin: 0;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 50px;
      text-align: center;
      background-color: rgba(27, 27, 27, 0.938);
    }
    .header .nav a {
      display: block;
      font-size: 16px;
      font-weight: lighter;
      padding-left: 0;
    }
    .burger {
      display: block;
    }
  
    section #sign-up-form form {
      width: 90%;
      height: auto;
      padding: 0.5rem 1.5rem;
    }
    section #sign-up-form form h3{
      font-size: 22px !important;
    }
    section #sign-up-form form label,section #sign-up-form form input{
      font-size: 14px !important;
    }
    section #sign-up-form form #sign-up {
      font-size: 14px;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    footer section {
      height: 100px;
    }
    footer section #footer-text {
      width: 75%;
      font-size: 7px;
    }
    footer section #report-bug {
      padding-top: 1.5rem;
      font-size: 8px;
    }
    footer section #footer-text {
      padding: 1.5rem;
    }
    footer i {
      font-size: 10px;
    }
  }