* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dfe2fe65;
  min-width: 300px;
  letter-spacing: 0.7px;
}

.container {
  position: relative;
  width: 65%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* SIDE BAR NAVIGATION */

.nav {
  position: relative;
  max-width: 270px;
  min-width: 270px;
  background-color: rgba(27, 27, 27, 0.938);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 100%;
  padding-left: 1rem;
}

.logo img {
  width: 150px;
  height: auto;
  margin: 2.8rem 0;
}

.burger {
  display: none;
  position: absolute;
  top: 4.3rem;
  right: 2rem;
  cursor: pointer;
  color: transparent;
}

.burger .slice {
  height: 4px;
  width: 23px;
  margin-bottom: 5px;
  border-radius: 50px;
  background-color: #8b88f5;
}


.menu {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.9rem;
  width: 100%;
}

.menu a {
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.menu p {
  display: inline;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.911);
}

.menu i {
  float: right;
  position: relative;
  top: 3px;
  font-size: 17px;
  padding-bottom: 1rem;
  color: #ffffff;
  transition: all 0.3s ease;
}

.menu a:hover i {
  color: #7874f2;
}

.nav .footer {
  position: absolute;
  bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.footer #footer-text {
  text-align: center;
  padding-top: 1.5rem;
  color: rgb(255, 255, 255);
  font-size: 11px;
}

/* CONTENT */

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction:column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content h2 {
  z-index: 1;
  text-align: center;
  font-size: 32px;
  color: #7874f2;
  margin: 4rem;
}

.content table {
  z-index: 1;
  width: 90%;
  height: auto;
  border-collapse: collapse;
  border: 1.5px solid #000000ce;
  word-break: break-all;
}

table th {
  min-width: 110px;
  font-size: 16px;
  padding: 1rem 0.5rem;
  background-color: rgb(250, 250, 250);
}
td{
  min-width: 110px;
  text-align: center;
  padding: 0.5rem;
  height: 50px;
}
#delete-col{
  position: relative;
  width: 150px;
}

#delete-col img {
  z-index: 0;
  width: 40px;
  height:  auto;
  position: absolute;
  top: -6px;
  left: 50px;
}
#delete{
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 53px;
  padding: 0.5rem;
  opacity: 0;
}

/* MEDIA */

@media (min-width: 1600px){
  .container {
    width: 1100px;
  }
  .header {
    width: 1100px;
  }
}

/* Tablet Screen */
@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
}

/* Small Screens Media*/
@media (max-width: 767px) {
  .nav {
    min-width: 55px;
    max-width: 55px;
  }
  .menu p, .nav .footer a span, .nav .footer p, .logo img{
    display: none;
  }
  .logo {
    padding-left: 0.3rem;
  }
  .logo img {
    width: 135px;
    margin: 2.1rem 0;
  }
  .burger {
    display: block;
    top: 3.3rem;
    right: 1rem;
  }
  .burger .slice {
    height: 4px;
    width: 21px;
  }
  .menu {
    padding: 8.3rem 1.1rem;
  }
  .menu p {
    font-size: 16px;
  }
  .menu i {
    float: right;
    font-size: 15px;
    padding-bottom: 0.5rem;
  }
  .footer #footer-text {
    font-size: 10px;
  }
  .content {
    overflow: scroll;
  }
  .content h2 {
    font-size: 26px;
    margin: 3rem;
  }
  
  .content table {
    width: 15%;
  }
  
  table th {
    min-width: 75px;
    font-size: 10px;
    padding: 0.6rem 0.3rem;
    background-color: rgb(250, 250, 250);
  }
  table td {
    min-width: 75px;
  }
  #delete-col{
    position: relative;
    width: 50px;
  }
  
  #delete-col img {
    width: 30px;
    top: -3px;
    left: 10px;
  }
  #delete{
    top: 3px;
    left: 6px;
    padding: 0.5rem 0px;
  }
}
