body{
    background-color: #dfe2fe;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid #383838;
    border-radius: 10px;
    padding: 0rem 2rem;
}
h1{
    font-size: 32px;
    color: #7874f2;
    margin-bottom: 2rem;
}

/* LOADING LITTLE CIRCLES IN WAITING ROOM PAGE */
@keyframes loading{
    0%{
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.waiting-loader{
    animation-name: loading;
    animation-duration: .35s;
    animation-timing-function: ease-in-out;
}

p, button, input, a{
    color: rgb(31, 31, 31);
}
a{
    color: #7874f2;
    padding: 0 0 1rem;
    font-size: 16px;
    text-align: center;
}
input{
    width: 100%;
}
p{  
    font-size: 18px;
}
#copy-link{
    display:flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}
#copy-link button{
    width: 165px;
    color: #ffffff;
    background-color: #383838;
    border-radius: 0 5px 5px 0;
    border-left: none;
    cursor: pointer;
}
#url{
    border-radius: 5px 0 0 5px;
    border-right: none;
}
#url, #copy-link button{
    font-size: 18px;
    border: 1px solid #383838;
    padding: .8rem;
    outline: none;
}

@media (max-width: 767px){
    .container main{
        padding: 0 .8rem;
        margin: 1rem;
        border-radius: 7px;
    }

    h1{
        font-size: 18px;
        margin-bottom: 1rem;
    }
    a{
        font-size: 12px;
        padding: .8rem;
    }
    p{
        font-size: 12px;
    }
    #copy-link button, #url{
        padding: .5rem;
        font-size: 12px;
    }
    #copy-link{
        margin-bottom: 0rem;
    }
    #copy-link button{
        border-radius: 0 4px 4px 0;
        width:120px;
    }
    #url{
        border-radius: 4px 0 0 4px;
    }
}